/*===============================
		Litipay Carousel
=================================*/
.lp-tst-carousel .lp-tst-carousel-inner {
    outline: none;
}
.lp-tst-carousel .lp-tst-carousel-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.lp-tst-carousel .lp-tst__thumb {
	width: 200px;
}
.lp-tst-carousel .lp-tst__thumb img {
	width: 100%;
	height: auto;
}
.lp-tst-carousel .lp-tst__content {
	background-color: #fff;
	padding: 30px;
	width: 60%;
	border-right: 1px solid #e4e4e8;
}
.lp-tst-carousel .lp-tst__content .lp-tst__blockquote {
	margin: 0;
}
.lp-tst-carousel .lp-tst__content .lp-tst__blockquote .lp-tst-quote-icon {
	margin-bottom: 20px;
	width: 50px;
}
.lp-tst-carousel .lp-tst__content .lp-tst__blockquote p {
	margin: 0 0 30px 0;
	font-size: 28px;
	line-height: 1.5;
	color: #757575;
}
.lp-tst-carousel .lp-tst__content .lp-tst__blockquote .lp-tst__auth {
	font-size: 18px;
	display: block;
}
.lp-tst-carousel .lp-tst-case__study {
	background-color: #fff;
	width: 40%;
	padding: 30px;
}
.lp-tst-carousel .lp-tst-case__study h2 {
	margin-top: 0;
	font-size: 18px;
	font-weight: bold;
}
.lp-tst-carousel .lp-tst-case__study .lp-tst-case__list {
	padding: 0;
	margin: 0 0 20px 0;
	list-style: none;
}
.lp-tst-carousel .lp-tst-case__study .lp-tst-case__list li {
	margin-bottom: 15px;
	line-height: 1.5;
	font-size: 14px;
}
.lp-tst-carousel .lp-tst-case__study .lp-tst-case__list li span {
	display: block;
	text-transform: uppercase;
}
.lp-tst-carousel .lp-tst-case__study .lp-tst__notes {
	color: #757575;
}

/* Nav */
.lp-tst-carousel-nav {
    position: relative;
    left: 56.7%;
    display: inline-block;
    margin-top: 0;
    display: inline-flex;
    flex-wrap: wrap;
	bottom: 0;
	overflow: hidden;
}

.lp-tst-carousel-nav .slick-next,
.lp-tst-carousel-nav .slick-prev {
  z-index: 999;
  padding: 0;
  text-align: center;
  font-size: 12px;
  line-height: 40px;
  opacity: 1;
  width: 50px;
	height: 40px;
	background-color: #e5e9f0;
	color: #acafb4;
	outline: none;
	border-radius: 0;
	position: relative;
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
	transform: none;
}


.lp-tst-carousel-nav .slick-next:focus,
.lp-tst-carousel-nav .slick-next:hover,
.lp-tst-carousel-nav .slick-prev:focus,
.lp-tst-carousel-nav .slick-prev:hover {
  background-color: #943dfa;
  color: #ffffff;
}


.lp-tst-carousel-nav .slick-next:before,
.lp-tst-carousel-nav .slick-prev:before {
  content: "";
}


.lp-tst-carousel-nav .slick-disabled {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
	.lp-tst-carousel .lp-tst__thumb img {
		width: 100px;
   }
   .lp-tst-carousel .lp-tst-carousel-nav {
		left: 50%;
		transform: translateX(-50%);
   }
}
@media screen and (max-width: 767px) {
	.lp-tst-carousel .lp-tst-carousel-item {
		display: inline-block;
   }

   .lp-tst-carousel .lp-tst__content, .lp-tst-case__study {
		width: 100%;
   }

   .lp-tst-carousel .lp-tst__thumb img {
		width: 100px;
   }
}

/*===============================
		Litipay Carousel 2
=================================*/
